certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mkl-fft
mkl-random
mwclient
numpy
oauthlib
requests
requests-oauthlib
scikit-learn
scipy
six
sklearn
threadpoolctl
Werkzeug
wincertstore
gunicorn
