certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
mkl-fft
mkl-random
mwclient
numpy
oauthlib
requests
requests-oauthlib
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
xgboost
